aseprite
bluetuith
Code
dconf
environment.d
ipiphany
evolution
GIMP
github-copilot
glib-2.0
gnome-session
go
goa-1.0
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
htop
ibus
JetBrains
kactivitymanagerdrc
kactivitymanagerd-statsrc
kcminputrc
kconf_updaterc
kde.org
kded5rc
kdedefaults
kdeglobals
kglobalshortcutsrc
ktimezonedrc
kwinrc
menus
mimeapps.list
monitors.xml*
nautilus
nextjs-nodejs
obs-studio
pavucontrol.ini
plasma-localerc
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
powermanagementprofilesrc
pulse
QtProject.conf
session
simple-update-notifier
spotify
starcitizen-lug
systemd
Trolltech.conf
turborepo
unity3d
unityhub
user-dirs.dirs
user-dirs.locale
vesktop
VirtualBox
yay
.gsd-keyboard.settings-ported
baloofilerc
